.contacts__wrapper {
  padding: 28px 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.contacts__wrapper--form {
  background-color: @basicgrey;
}

.contacts__alert {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: bold;
  color: @superblack;
}

.contacts__adress {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @specialdarkgrey;
}

.contacts__map {
  padding-top: 24px;
}
