.contacts__wrapper {
  margin-left: 19px;
  padding-top: 28px;
  margin-top: 0;
  background-color: @basicgrey;
}

 .contacts__wrapper-index {
  margin-left: 19px;
  padding-top: 28px;
  margin-top: 0;
  background-color: @white;
}

.contacts__alert {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @superblack;
  font-weight: bold;
  margin-top: 0;
}

.contacts__adress {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  color: @specialdarkgrey;
}
