.example {
  background-color: @examplegrey;
  @media (min-width: @tablet) {
    background: linear-gradient(to bottom, @white 50%, @examplegrey 50%);
  }
  @media (min-width: @desktop) {
    background: linear-gradient(to bottom, @white 10%, @examplegrey 90%);
  }
}

.example__wrapper {
  padding: 0;
  @media (min-width: @tablet) {
    width: 708px;
    margin: 0 auto;
    padding: 43px 30px 70px;
  }
  @media (min-width: @desktop) {
    width: 1220px;
    margin: 0 auto;
    padding: 0px 110px 70px;
    display: flex;
    justify-content: space-between;
  }
}

.example__wrapper-upper {
  @media (min-width: @desktop) {
    width: 436px;
    margin-top: 58px;
  }
}

.example__title {
  margin: 0;
  padding-bottom: 33px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  @media (min-width: @tablet) {
    padding-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }
  @media (min-width: @desktop) {
    padding-bottom: 146px;
  }
}

.example__decrtiption {
  margin: 0;
  padding-bottom: 26px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: @specialdarkgrey;

  @media (min-width: @tablet) {
    width: 700px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop) {
    padding-bottom: 69px;
    width: 436px;
  }
}

.example__wrapper-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop){
    width: 366px;
    margin: 0;
  }
}

.example__wrapper-table {
  width: 280px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet) {
    width: 366px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop){
    margin-bottom: 60px;
  }
}

.example__weigth {
  display: block;
  position: relative;
  padding: 14px 43px 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  border: 1px solid @specialgrey;
  border-radius: 3px;

  @media (min-width: @tablet) {
    padding: 15px 57px 18px;
  }
}

.example__time {
  padding: 14px 21px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 1px solid @specialgrey;

  @media (min-width: @tablet) {
    padding: 15px 27px 20px 30px;
  }
}

.example__number {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  @media (min-width: @tablet) {
    font-size: 30px;
    line-height: 36px;
  }
}

.example__text {
  display: block;
  bottom: -20px;
  left: 12px;
  margin: 0;
  padding: 0 10px;
  position: absolute;
  width: 77px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: @examplegrey;

  @media (min-width: @tablet) {
    width: 140px;
    padding: 0;
    left: 8px;
    bottom: -8px;
    font-size: 14px;
    line-height: 14px;
    background-color: @white;

    &--loosing {
      width: 95px;
    }
  }

  @media (min-width: @desktop) {
    background-color: @examplegrey;
  }
}

.example__spendings {
  padding-top: 35px;
  margin: 0 0 0 46px;
  align-self: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet) {
    padding-top: 0px;
    margin: 0;
    width: 174px;
    text-align: right;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop){
    width: 324px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
  }
}

.example__spendings-text {
  margin: 0;
  @media (min-width: @tablet) {
    padding-bottom: 11px;
  }
  @media (min-width: @desktop) {
    padding: 0;
  }
}

.example__spendings-money {
  margin: 0;
}
