.features{
  margin-bottom: 46px;
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 38px;
  margin-bottom: 0;
}

.features__list {
  list-style: none;
}

.features__item{
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  color: @specialdarkgrey;
  margin-top: 0px;
  margin-bottom: 0px;
}
