.features__wrapper {
  padding: 0px 20px;
  margin-bottom: 20px;
  @media (min-width: @tablet) {
    width: 640px;
    margin: 0 auto;
    min-height: 724px;
  }
  @media (min-width: @desktop) {
    width: 1220px;
    min-height: 354px;
    margin: 0 auto;
  }
}

.features__title {
  margin: 0px;
  padding-bottom: 38px;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: @desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.features__item {
  padding: 0px 0px 24px 80px;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  color: @specialdarkgrey;
  @media (min-width: @tablet) {
    width: 230px;
    min-height: 280px;
  }
}
