.information {
  padding: 0 20px;
  margin-bottom: 22px;
  background: linear-gradient(to bottom, fade(@basicgreen,85%) 64%, @white 36%);
  @media (min-width: @tablet) {
    margin: 0;
    background-color: @white;
    background: none;
  }
  @media (min-width: @desktop) {
    padding-bottom: 105px;
    background: linear-gradient(to right, @white 50%, fade(@basicgreen,85%) 50%);
  }
}

.information__wrapper {
  @media (min-width: @tablet) {
    margin: 0 auto;
    width: 709px;
  }

  @media (min-width: @desktop) {
    margin: 0 auto;
    width: 1060px;
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.information__wrapper-upper {
  @media (min-width: @tablet) {
    width: 419px;
    margin-left: 84px;
  }

  @media (min-width: @desktop) {
    width: 414px;
    margin: 0;
    margin-top: 90px;
  }
}

.information__title {
  margin: 0;
  padding: 27px 0 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @white;

  @media (min-width: @tablet) {
    padding: 0;
    padding-left: 5px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @black;
  }

  @media (min-width: @desktop) {
    padding: 0;
    width: 414px;
  }
}

.information__slogan {
  margin: 0;
  padding-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: @white;

  @media (min-width: @tablet) {
    position: relative;
    padding-bottom: 20px;
    padding-left: 5px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: @black;
  }

  @media (min-width: @desktop) {
    padding-left: 0;
  }
}

.information__link-form {
  display: none;

  @media (min-width: @tablet) {
    z-index: 1;
    position: absolute;
    margin-top: 29px;
    display: block;
    width: 244px;
    padding: 16px 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    background-color: @basicgreen;

    &:hover {
      background-color: @basicgreendark;
    }

    &:active {
      color: fade(@white, 50%);
    }
  }
}

.information__link-form-exrta {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @basicgreen;

  &:hover {
    background-color: @basicgreendark;
  }

  &:active {
    color: fade(@white, 50%);
  }

  @media (min-width: @tablet) {
    display: none;
  }

}
.information__img {
  margin-bottom: 3px;
  text-align: center;
  @media (min-width: @tablet) {
    position: relative;
  }

  @media (min-width: @desktop) {
    width: 552px;
    height: 449px;
  }
}

.information__pic {
  width: 100%;

  @media (min-width: @tablet) {
    height: 609px;
  }

  @media (min-width: @desktop) {
    height: 449px;

  }
}
