.information__wrapper{
  background-color: @white;
}


.information__title{
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @white;
  background-color: fade(@basicgreen,85%);
  padding-top: 27px;
  padding-left: 36px;
  padding-right:35px;
  padding-bottom: 25px;
  margin-bottom: 0px;
}

.information__slogan{
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: fade(@basicgreen,85%);
  padding-left: 60px;
  padding-right: 62px;
  padding-bottom: 25px;
  margin-top: 0px;
}

.information__link-form {
  display: inline-block;
  text-decoration: none;
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: @basicgreen;
  color: @white;
  margin-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  &:hover{
    background-color: @basicgreendark;
  }
  &:active{
    color: fade( @white, 50%);
  }
}
