.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: @tablet) {
    padding-top: 18px;
    margin: 0 0 73px;
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    justify-content: space-between;
    flex-direction: row;
  }

  @media (min-width: @desktop) {
    width: 478px;
    margin: 0;
    padding-top: 16px;
  }
}

.main-nav__item {
  padding: 22px 0 23px;
  border-top: 1px solid @bordergrey;

  @media (min-width: @tablet) {
    display: inline-block;
    padding: 0;
    border: none;
  }
}

.main-nav__link {
  display: block;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet) {
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }
  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 30px;
    color: @white;
  }
}

.main-nav__item--form a {
  color: @black;
}
