.main-nav__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-left: 55px;
  @media (min-width: @tablet) {
    width: 440px;
    margin: 0 0 62px 94px;
    justify-content: space-between;
    flex-direction: row;
  }
  @media (min-width: @desktop) {
    min-height: 95px;
    margin: 0;
    margin-left: 500px;

  }
}

.main-nav__item a {
  display: block;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  @media (min-width: @tablet) {
    font-size: 18px;
    line-height: 24px;
  }
  @media (min-width: @desktop) {
    font-size: 20px;
    line-height: 30px;
    color: @white;
  }
}
