.page-footer {
  background-color: @basicgrey;
}

.page-footer__wrapper {
  padding: 39px 20px 22px;
  background-color: @basicgrey;
  @media (min-width: @tablet) {
    margin: 0 auto;
    padding: 60px 30px 65px;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: @desktop) {
    width: 1220px;
    margin: 0 auto;
    padding: 57px 110px;
  }
}
