.page-header__wrapper {
  padding: 12px 20px 0;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: @tablet) {
    width: 640px;
    margin: 0 auto;
    flex-direction: row;
  }
  @media (min-width: @desktop) {
    width: 1220px;
  }
}

.page-header__logo {
  margin-right: 56px;
  @media (min-width: @tablet) {
    min-height: 75px;
    width: 56px;
  }
  @media (min-width: @desktop) {
    min-height: 95px;
  }
}

.page-header__logo-text {
  margin-top: 12px;
  @media (min-width: @tablet) {
    min-height: 75px;
    width: 104px;
  }
  @media (min-width: @desktop) {
    min-height: 95px;
  }
}
