//Общие стили

.filter-cat {
  padding: 0 20px;
}

.filter-cat__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-cat__legend {
  font-size: 24px;
  line-height: 26px;
}
//Information

.filter-cat__information-field {
  padding: 0;
  margin: 0;
  padding-bottom: 24px;
  border: none;
  border-bottom: 1px solid @formtable;
}

.filter-cat__information-field label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @specialdarkgrey;
}

.filter-cat__text-input {
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @specialdarkgrey;
  border: 1px solid @forminput;

  &:hover {
    border: 1px solid @specialgrey;
  }

  &:focus {
    border: 1px solid @black;
    outline: none;
  }
}

.filter-cat__text-input {
  width: 222px;
  min-height: 42px;

  &--weight {
    width: 183px;
    min-height: 42px;
  }

  &--number {
    margin: 0;
    width: 140px;
    min-height: 42px;
  }
}
//Program
.filter-cat__program-field {
  padding-top: 20px;
  margin: 0 0 26px;
  border: none;
  border-bottom: 1px solid @formtable;
}

.filter-cat__program-item {
  padding-bottom: 19px;
  padding-left: 45px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @specialsuperdark;
}
//Contacts

.filter-cat__contacts-field {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.filter-cat__contacts-field--legend {
  padding-bottom: 32px;
}

.filter-cat__email-input {
  width: 213px;
}

.filter-cat__tel-input {
  width: 190px;
}
// Comments

.filter-cat__comment-field {
  margin: 0;
  padding: 34px 0 0;
}

.filter-cat__text-textarea {
  margin: 0;
  padding: 13px 15px;
  width: 250px;
  height: 124px;
}
//Additional

.filter-cat__additional-field {
  margin: 0;
  padding: 0;

  &--legend {
    margin-bottom: 34px;
  }
}

.filter-cat__additional-item {
  padding-bottom: 13px;
  padding-left: 44px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-cat__border {
  border: 2px solid @basicgreen;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
//Buttom

.filter-cat__button {
  margin-top: 34px;
  width: 280px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: @basicgreen;
  color: @white;
  outline: none;
  border: none;

  &:hover {
    background-color: @basicgreendark;
  }

  &:active {
    color: fade(@white; 30%);
  }
}
//small  textare

.filter-cat__small {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
