.title-form{
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-left: 20px;
  margin-bottom: 37px;
}


.text-form {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 39px;
  margin-left: 20px;
}
