.title-form {
  margin: 0px;
  padding: 27px 20px 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
}

.text-form {
  margin: 0px;
  padding: 0 20px 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
